////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//
//  Author:         Patrick L. Gryzan
//  Repo:           aws-multi-account
//  File:           variables.tfvars
//  Date:           August 2021
//  Description:    private terraform variables
//
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//  Project Information
project             = {
    name            = "<Customer Name>"
}

//  AWS Information
aws                 = {
    account_id      = ""
    region          = "us-east-2"
    environment     = "dev"
}

//  VPC Information
vpc                 = {
    zones           = ["us-east-2a", "us-east-2b", "us-east-2c"]
    cidr            = ["10.10.0.0/16"]
    private_subnets = ["10.10.1.0/24", "10.10.2.0/24", "10.10.3.0/24"]
    public_subnets  = ["10.10.101.0/24", "10.10.102.0/24", "10.10.103.0/24"]
}